/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* top nav bar */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #540B51;
}

#slack-logo {
    width: 30%;
    padding: 10px
}

nav button {
    background-color: transparent;
    border: none;
    margin: 20px;
}

/* header */

header {
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header h1 {
    color: white;
    font-size: large;
}

header>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>div>p>em {
    font-weight: bold;
    font-style: normal;
    color: #ECB12F;
}

header>div>p {
    color: white;
    letter-spacing: 1px;
}

.email-button, .google-button {
    width: 90%;
    margin: auto;
    text-transform: uppercase;
    font-weight: bolder;
    height: 50px;
    background-color: white;
    border: none;
    margin: 10px auto;
    border-radius: 4px;
}

.email-button {
    color: #540B51;
}

.google-button {
    color: white;
    background-color: #4285F4;
    position:flex;
    align-items: center;
    flex-direction: row;
}

.google-button img {
    background-color: white;
    border-radius: 4px;
    padding: 3px;
    width: 3%;
}

/* Section 2 class why-slack */

.why-slack {
    background-color: #F3EAE2;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.why-slack>p {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

.why-slack img {
    width: 90%;
    border: #4285F4;
    margin: 0;
    padding: 0;
}

.trusted-companies img {
    width: 20%;
}

#first-companies, #second-companies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}


.why-slack h2, p {
    margin: auto;
    padding-top: 30px;
}

.why-slack p {
    padding-bottom: 30px;
}

.why-slack a {
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #2E71A6;
    margin-bottom: 30px;
    padding-left: 10px;
}

.why-slack h2, .why-slack p {
    padding-left: 10px;
}

.side-img {
    padding-top: 30px;
    padding-bottom: 30px;
}

#with-green-img {
    display: flex;
    flex-direction: column;
}

#green-img {
    display: flex;
    justify-content: flex-end;
}

/* Section with Slack statistics, white background */

.slack-statistics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.slack-statistics h3 {
    font-size: 2em;
}

.slack-statistics div {
    display: flex;
    flex-direction: column;
}

#enterprise-button, #sales-button {
    margin: 10px;
    width: 90%;
    margin: auto;
    text-transform: uppercase;
    font-weight: bolder;
    height: 50px;
    border: none;
    margin: 10px auto;
    border-radius: 4px;
}

#enterprise-button {
    background-color: #540B51;
    color: white;
    border: none;
}

#sales-button {
    background-color: white;
    color: #540B51;
    border: #540B51 solid;
}

.slack-statistics ul {
    list-style: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slack-statistics ul span {
    font-size: 3em;
    color: #540B51;
}

.slack-statistics li p {
    width: 30%;
}

/* Section get started, purple background */

.get-started {
    background-color: #540B51;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

#try-for-free-button, #talk-to-sales-button {
    margin: 10px;
    width: 90%;
    margin: auto;
    text-transform: uppercase;
    font-weight: bolder;
    height: 50px;
    border: none;
    margin: 10px auto;
    border-radius: 4px;
}

.get-started h3 {
    font-size: 2em;
    color: white;
    text-align: center;
}

#talk-to-sales-button {
    background-color: #540B51;
    color: white;
    border: white solid;
}

#try-for-free-button {
    background-color: white;
    color: #540B51;
    border: solid;
}

/* footer */

footer {
    width: 90%;
    margin: auto;
}

footer img {
    width: 10%;
    margin: 20px;
}

footer ul {
    list-style: none;
}

.page-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: lightgray solid;
    color: #454245;
}

.page-links ul > :first-child {
    font-weight: bold;
    padding-bottom: 5px;
    color: black;
}

.page-links ul li {
    color: gray;
    padding-bottom: 15px;
    padding-top: 15px;
}

#fine-print li {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

#download-link {
    color: #4285F4;
}

.social-media-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

small {
    color: gray;
    padding: 30px;
    text-align: left;
}


/* Screens > 1024 */

@media (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
    }

    .sign-up {
        width: 60%;
    }

    .header-img {
        width: 40%;
    }

    .trusted-companies {
        display: flex;
        flex-direction: row;
    }

    .slack-statistics {
        width: 100%;
    }

    .slack-statistics p {
        margin-bottom: 20px;
    }

    .slack-statistics div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #enterprise-button {
        width: 40%;
    }

    #sales-button {
        width: 30%;
    }

    .slack-statistics ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .slack-statistics ul p {
        margin: 0;
        padding: 0;
        width: 40%;
    }

    .get-started {
        padding: 50px;
    }

    .page-links {
        display: flex;
        justify-content: space-between;
    }

    #fine-print {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .social-media-icons {
        width:  50%;
        padding-left: 0;
    }
}